/*
 *= require range-slider
 *= require_self
 *= require_tree .
 */

* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/22px arial,verdana,sans-serif;
  color: 333;
}

h1 {
  font: 70px/84px georgia,times,serif;
  margin-bottom: 64px;
}

h2 {
  font: 48px/64px georgia,times,serif;
  margin: 96px 0 16px 0;

  &:first-child {
    margin-top: 128px;
  }
}

#content {
  margin: 64px auto 32px auto;
  width: 960px;
}

#footer {
  font: italic 14px/20px georgia,times,serif;
  color: #bbb;
  margin-top: 96px;

  a {
    color: #bbb;

    &:hover {
      color: #d89c00;
    }
  }
}

#range-slider {
  width: 900px;
  padding-bottom: 32px;
}

.range-info {
  color: #bbb;
  float: right;
  margin: 32px 60px 0 0;

  .count {
    color: #d89c00;
  }
}

.events {
  list-style: none;

  li {
    padding: 48px 0 16px 0;
    border-bottom: 1px solid #eee;
    width: 900px;

    p {
      font-size: 22px;
      margin-bottom: 5px;
    }

    time, span {
      font: italic 18px/24px georgia,times,serif;
    }

    time {
      color: #d89c00;
    }

    span {
      color: #bbb;
    }
  }
}
